@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(58, 37, 112, 0.7);
  --left-btn-hover-color: rgba(40, 25, 77, 0.3);
  --right-bg-color: rgba(42, 128, 128, 0.8);
  --right-btn-hover-color: rgba(20, 61, 61, 0.3);

  --hover-width: 75%;
  --other-width: 25%;

  --speed: 1000ms;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: 0.2rem solid #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.left .button:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("./img/post-job.png") center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("./img/find-job.jpg") center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}
